<tr>
  <td><%= item.name %></td>
  <td><%= item.description %></td>
  <td><%= item.amount_type %></td>
  <td><%= item.amount %></td>
  <td><%= item.price %></td>
  <td><%= item.grocery_type %></td>
  <td><%= link_to "Destroy Item", [item.recipe, item], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %></td>
</tr>
