<p>
  <strong>Item:</strong>
  <%= item.name %>
</p>
<p>
  <strong>Description:</strong>
  <%= item.description %>
</p>
<p>
  <strong>Amount Type:</strong>
  <%= item.amountType %>
</p>
<p>
  <strong>Amount:</strong>
  <%= item.amount %>
</p>
<p>
  <strong>Price:</strong>
  <%= item.price %>
</p>
<p>
  <strong>Grocery Type:</strong>
  <%= item.groceryType %>
</p>
<p>
  <%= link_to "Destroy Item", [item.recipe, item], data: {
                  turbo_method: :delete,
                  turbo_confirm: "Are you sure?"
                } %>
</p>
